n8n/flujo-test-ollama-bandeja.json
{
  "name": "Taller — Test IA a Bandeja (Etapa 1)",
  "nodes": [
    {
      "parameters": {},
      "id": "n1",
      "name": "Probar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const mensaje = \"che marianela de andreu necesita 50 remeras serigrafiadas con el logo, las quiere para el viernes, salen 80 lucas\";\nconst reglas = \"Extra\\u00e9 datos de un mensaje de un taller gr\\u00e1fico y devolv\\u00e9 SOLO un JSON v\\u00e1lido, sin explicaciones.\\nClaves: empresa, contacto, descripcion, disciplina (uno de: laser, serigrafia, ploteo), precio (entero en pesos, 0 si no se menciona).\\nRegla 'X de Y': X es el contacto (persona), Y es la empresa. Ej: 'marianela de andreu' => contacto 'Marianela', empresa 'Andreu'.\\nJerga argentina de plata: luca/lucas = miles (80 lucas = 80000); palo = millon; gamba = 100.\";\nconst prompt = reglas + \"\\nMensaje: \" + mensaje;\nreturn [{ json: { prompt } }];"
      },
      "id": "n2",
      "name": "Armar pedido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"qwen3:8b\", stream: false, format: \"json\", prompt: $json.prompt }) }}",
        "options": {}
      },
      "id": "n3",
      "name": "Ollama — extraer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "let d = {};\ntry { d = JSON.parse($input.first().json.response || \"{}\"); } catch (e) { d = {}; }\nconst nombre = d.contacto || d.empresa || \"Sin nombre\";\nconst disc = [\"laser\",\"serigrafia\",\"ploteo\"].includes(d.disciplina) ? d.disciplina : \"laser\";\nreturn [{ json: {\n  cliente: d.empresa ? (nombre + \" (\" + d.empresa + \")\") : nombre,\n  empresa_nombre: d.empresa || \"\",\n  contacto_nombre: d.contacto || \"\",\n  descripcion: d.descripcion || \"\",\n  disciplina: disc,\n  precio: Number(d.precio) || 0,\n  origen_ref: \"Prueba n8n \" + new Date().toISOString()\n} }];"
      },
      "id": "n4",
      "name": "Parsear JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/ingesta/trabajo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PEGA_TU_INGEST_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "n5",
      "name": "Crear borrador en la app",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        300
      ]
    }
  ],
  "connections": {
    "Probar manualmente": {
      "main": [
        [
          {
            "node": "Armar pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Armar pedido": {
      "main": [
        [
          {
            "node": "Ollama — extraer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama — extraer": {
      "main": [
        [
          {
            "node": "Parsear JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear JSON": {
      "main": [
        [
          {
            "node": "Crear borrador en la app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}