n8n/flujo-cartero.json
{
  "name": "Taller — Cartero WhatsApp (entrante)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "waha",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wh",
      "name": "WhatsApp (WAHA)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "waha"
    },
    {
      "parameters": {
        "jsCode": "const p = ($json.body && $json.body.payload) || {};\nconst texto = (p.body || \"\").trim();\nconst chatId = p.from || \"\";\nif (p.fromMe || !texto) return [];\nreturn [{ json: { from: chatId.replace(\"@c.us\",\"\"), texto, chatId } }];"
      },
      "id": "ex",
      "name": "Extraer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3000/api/asistente/mensaje",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PEGA_TU_INGEST_API_KEY"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ from: $json.from, texto: $json.texto }) }}"
      },
      "id": "Cerebro",
      "name": "Cerebro",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ $json.reply }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "iff",
      "name": "¿Hay respuesta?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        820,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:3001/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "PEGA_TU_WAHA_API_KEY"
            }
          ]
        },
        "options": {},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ session: \"default\", chatId: $(\"Extraer\").first().json.chatId, text: $json.reply }) }}"
      },
      "id": "Responder",
      "name": "Responder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        220
      ]
    }
  ],
  "connections": {
    "WhatsApp (WAHA)": {
      "main": [
        [
          {
            "node": "Extraer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer": {
      "main": [
        [
          {
            "node": "Cerebro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cerebro": {
      "main": [
        [
          {
            "node": "¿Hay respuesta?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay respuesta?": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}